<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link
			rel="stylesheet"
			href="{{url_for('static',
    filename='/css/dashboard.css')}}" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Quicksand:wght@450" />
	</head>
	<body>
		<div class="navbar">
			<div class="navbarleft">
				<img
					class="movie-image"
					src="{{url_for('static', filename='/images/color-film-reel.png')}}" />
			</div>
			<div class="navbarmid">
				<h1>Pick That Movie</h1>
				<h4>Welcome, {{session['first_name']}}</h4>
			</div>
			<div class="navbarright">
				<form action="/new/movie">
					<button type="submit" class="new-movie-btn">
						Add new movie
					</button>
				</form>
				<form method="POST" action="/logout">
					<button type="submit" class="logout-btn">Logout</button>
				</form>
			</div>
		</div>
		<hr class="divider" />
		<div id="pageNavPosition" class="pager-nav"></div>
		<table id="pager" class="dashboard-table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Year</th>
					<th>Genre</th>
					<th>User</th>
					<th>Review</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for movie in movies %}
					<td><a href="/view/movie/{{movie.id}}"> {{movie.title}}</a></td>
					<td>{{movie.year}}</td>
					<td>{{movie.genre}}</td>
					{% if movie.created_by.id == session['user_id'] %}
					<td style="font-weight: bold">
						{{movie.created_by.first_name}}
						<br />
						{{movie.created_by.last_name}}
					</td>
					{% else %}
					<td>
						{{movie.created_by.first_name}}
						<br />
						{{movie.created_by.last_name}}
					</td>
					{% endif %}
					<td>
						{{movie.review}}
						<hr class="review-divider" />
						{{movie.you_should_watch}}
					</td>
					{% if movie.created_by.id == session['user_id'] %}
					<td>
						<a href="/edit/movie/{{movie.id}}"
							><button class="edit-btn">Edit</button></a
						>
						<a href="/delete/movie/{{movie.id}}"
							><button class="delete-btn">Delete</button></a
						>
					</td>
					{% endif %}
				</tr>
			</tbody>
			{% endfor %}
		</table>
		<script src="/static/js/dashboard.js"></script>
		<!-- <a href="{{ url_for('get_movies', page=prev_page) }}">Previous</a>
		<a href="{{ url_for('get_movies', page=next_page) }}">Next</a> -->
	</body>
</html>
